<h2><%= t("about_page.title") %></h2>
<blockquote>
  <em>
    <p><%= t("about_page.paragraph") %>
    </p>
  </em></br>  
</blockquote>
<p><%= t("about_page.reference") %>
    </p>


<div class=portrait>
  <%= link_to image_tag("Sklovsky.jpg", :title => "Viktor Shklovsky"), "http://en.wikipedia.org/wiki/Viktor_Shklovsky", :target => "_blank"  %>
</div>


<p><%= t("about_page.bottom") %>
</p>