<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Name:</b>
  <%= @post.name%><!-- 
  <%= image_tag(@idea.picture_url, :width => 600) if @post.picture.present? %> -->
</p>

<p>
  <b>Description:</b>
  <%= simple_format @post.description %>
</p>

<p>
  <b>Medium:</b>
  <%= @idea.medium %>
</p>

<%= render :partial => "admin_links", :locals => { :post => @post } %>

<%= link_to 'Back', posts_path %>