<!DOCTYPE html>
<html>
<head>
  <title>Filmwerkplaats</title>
  <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", "custom-theme/jquery-ui-1.8.9.custom" %>  
<%= javascript_include_tag "jquery-ui-1.10.4.custom.min", "autocomplete-rails" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

<!-- BEGIN #container -->
  <div id="container">
    
<!-- BEGIN #header -->
        <header>
            
            <div class="group">
               <div class= "logo">
              <%= image_tag "filmwerkplaatslogoblack.jpg" %>
               <h1>Filmwerkplaats</h1>
              </div>
              <nav>
              <ul>   
                <li><%= link_to "Home", posts_path %></li>
                <li><%= link_to "About", pages_about_path%></li>
                <li><%= link_to "Members" %></li>
                <li><%= link_to "Equipment" %></li>
                <li><%= link_to "Blog" %></li>
              </ul>
            
            </nav>            
            <!-- END #mainMenu -->
             <div id="signin">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

          </div>  
    </header>
    
    <!-- <p class="navbar-text pull-right"> -->


            <!-- <h1>Filmwerkplaats</h1> -->
            
             <!-- BEGIN #socialMedia -->
      <div id="socialMedia">
        <ul>

                <li class="linkedIn"><a href="#">LinkedIn</a></li>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="rss"><a href="#">RSS</a></li>
        </ul>
              
      </div>  
      <!-- END #socialMedia -->

    <section class="group main">

        <!-- Content -->

        <div class="primary content">
          <div class="inner">

            <%= yield %>
          
          </div>
        </div>
    </div>
    
 </div>
</body>
</html>
