<!DOCTYPE html>
<html>
<head>
  <title>Filmwerkplaats</title>
  <%= favicon_link_tag 'faviconfwp.ico' %>
  <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", "jquery-ui-1.10.4.custom", "minimalist" %> 
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="wrapper">

<!-- BEGIN #container -->
  <div id="container">
    
<!-- BEGIN #header -->
    <header>
            <div class="group">
               
              <nav>
                
              <ul>
                <li>
                  <div class= "my-picture">
                    <%= image_tag "filmwerkplaatslogoblack.jpg", title: "Filmwerkplaats logo" %>
                  </div> 
                </li>
                <li>
                  Languages:
                  <%= button_to t("homepage.language_1"), locale_path("en"), method: :put %> |
                  <%= button_to t("homepage.language_2"), locale_path("fr") , method: :put %>
                </li>
                <li><%= link_to t("homepage.home"), posts_path %></li>
                <li><%= link_to t("homepage.about"), pages_about_path %></li>
                <li><%= link_to "Filmwerkplaats", "http://filmwerkplaats.hotglue.me/about" %></li>
              </ul>     
             </nav>
          </div> 
          <div class="clear"></div>
    </header>

               <h1><%= t("homepage.title") %></h1>

      <div id="socialMedia">
        <ul>
          <li class="facebook"><a href="https://www.facebook.com/VerenigingFilmwerkplaats"></a></li> 
          <li class="vimeo"><a href="http://vimeo.com/filmwerkplaats"></a></li>
          <li class="linkedIn"><a href="https://www.linkedin.com/pub/filmwerkplaats-rotterdam/28/110/8aa"></a></li>
        </ul>    
      </div>  
       <div id="signin">
              <% if user_signed_in? %>
                <%= t("session.logged_in_as") %><strong><%= current_user.email %></strong>.
                <%= link_to t("session.editprofile"), edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to t("session.logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to t("session.signup"), new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to t("session.login"), new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
                <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
        </div>
          <div class="clear"></div>

    <section class="group main">
        <div class="primary content">
          <div class="inner">

            <%= yield %>

          </div>
        </div>
    </section>
          <div class="clear"></div>
        <footer>
          <div id="copyright">
            <p>&copy; Copyright 2014 H&eacutel&egravene Martin.</p>
          </div>   
        </footer>

   </div>
  </div>
  </body>
</html>