<!DOCTYPE html>
<html>
<head>
  <title>Filmwerkplaats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
      
            <ul class="nav">
              <li><%= link_to "Nederlands", "/locales/nl"  %></li>
              <li><%= link_to "Français", "/locales/fr"  %></li>
            </ul>
    </div>

    <%= yield %>

</body>
</html>
